<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Fate.FrontEnd - AngularJS</h1>
            <p>Projeto de CRUD feito em AngularJS consumindo uma WebApi para administração de cadastro de clientes.</p>
            <p><img style="max-height: 20px; max-width: 20px; height: auto; width: auto;" src="https://image.flaticon.com/icons/svg/25/25231.svg" /> Disponível no GitHub:</p>
            <p><a target="blank" href="https://github.com/sergioctorres/Fate.FrontEnd">Fate.FrontEnd</a></p>
            <p><a target="blank" href="https://github.com/sergioctorres/Fate.BackEnd">Fate.BackEnd</a></p>
        </div>
    </div>
</div>