<div class="container">
    <div class="jumbotron">
        <div class="container">
            <div class="form-group">
                <h2 class="text-left text-info">Detalhes de Cliente</h2>
            </div>
            <h1 class="display-4">{{Customer.Name}} {{Customer.LastName}}</h1>
            <p>ID: {{Customer.Id}}</p>
            <p>CPF: {{Customer.CPF}}</p>
            <p>Data de Nascimento: {{Customer.Birthday}}</p>
            <p>Idade: {{Customer.Age}}</p>
            <p>Profissão: {{Customer.Occupation}}</p>
        </div>
    </div>
</div>